* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

header {
  background-color: #04133d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

header img {
  width: 150px;
}

header h1 {
  color: #ffffff;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}