:root {
  --bg-color-body: #eeeeee;
  --bg-color-header: #04133d;
  --color-white: #ffffff;
  --color-gray: #808080;
  --bg-color-button-sortear: #1480fa;
  --bg-color-resultado: rgba(4, 20, 62, 89%);
  --bg-color-button-fechar: #c71616;
  font-size: 62.5%; /* 10px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-body);
}

body * {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

/* Header */
header {
  background-color: var(--bg-color-header);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

header h1 {
  color: var(--color-white);
  font-size: 3.2rem;
}

/* Main */
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

section {
  background-color: var(--color-white);
  box-shadow: 5px 5px 5px var(--color-gray);
  padding: 3rem;
  width: 60rem;
  color: var(--color-gray);
  text-align: center;
  overflow: hidden;
  position: relative;
}

section h2 {
  font-weight: 400;
}

section p {
  margin: 1rem 0;
}

.text-left {
  text-align: left;
}

section label {
  display: none;
}

section textarea {
  padding: 1rem;
  width: 100%;
  height: 15rem;
  max-width: 100%;
  min-width: 100%;
  max-height: 15rem;
  min-height: 15rem;
  border: 1px solid var(--bg-color-header);
  outline: none;
  resize: none;
}

section #botao-sortear {
  background-color: var(--bg-color-button-sortear);
  color: var(--color-white);
  border: none;
  text-transform: uppercase;
  padding: 1rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 5px;
  opacity: 0.7;
  transition: all 0.3s;
}

section #botao-sortear:hover {
  opacity: 1;
}

/* PopUp */

.resultado {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-resultado);
  transition: 0.5s;
}

.resultado.mostrarResultado {
  left: 0;
  transition: 0.5s;
}

.resultado #botao-fechar {
  float: right;
  margin: 2rem;
  color: var(--bg-color-body);
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--bg-color-button-fechar);
  opacity: 0.8;
  transition: all 0.3s;
  padding: 0.4rem 1.2rem;
}

.resultado #botao-fechar:hover {
  opacity: 1;
}

.resultado p {
  text-align: center;
  color: var(--color-white);
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Footer */
footer {
  height: 40rem;
  background-image: linear-gradient(
    to bottom,
    var(--bg-color-header),
    var(--bg-color-resultado)
  );
}

/* Fade */
div.fade {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Modal */
div.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: var(--color-white);
  z-index: 2;
  transform: translate(-50%, -50%);
  padding: 2.2rem;
  border-radius: 6px;
}

div.modal #texto-alerta {
  margin-bottom: 1.6rem;
}

div.modal #botao-cancelar {
  float: right;
  color: var(--bg-color-button-fechar);
  font-size: 1.4rem;
  border: 1px solid var(--bg-color-button-fechar);
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.8;
  transition: all 0.3s;
  padding: 0.4rem 1.2rem;
}

div.modal #botao-cancelar:hover {
  opacity: 1;
}